html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background: #FFf;
}


body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Asap', sans-serif;
}


/*-- header --*/

#home {
  background: url(../../img/Gandalf.jpg) no-repeat center top;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 650px;
  position: relative;
  background-color: rgba(100,100,10,0.9);
}
